<h2>User List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.Email }}</td>
            <td>{{ user.FullName }}</td>
            <td>{{ user.Role }}</td>
            <td>
                <a [routerLink]="['/users', user.Email]"><span>Edit</span></a>
                <a [routerLink]="['/users/delete/', user.Email]"><span>Delete</span></a>
            </td>
        </tr>
    </tbody>
</table>