@using FabricMarket_MVC.Controllers
@{
    ViewData["Title"] = "Home Page";

    var CurrentUserName = ViewBag.CurrentUserName;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(CurrentUserName == null){
    <a href="@Url.Action(nameof(LoginController.Index), "Login", new { ReturnPath = "/User/ListView" })">
        Login and then List Users!
    </a>
    <br />
}

<a href="@Url.Action(nameof(UserController.ListView), "User")">User List</a>