@{
	// No layout - do not show any headers or footers - the user would have to click (back) on their browser
	Layout = null;
}

<img src="/pic/error.png" />
<div style="display:block">
	We are terribly sorry, something went wrong with our service,<br />please try again or contanct administrator via contact@example.com
</div>

<a style="display:block" href="/">Back to home page!</a>
